body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
}

.container{
    width:200px;
    height:200px;
    background:red;
}
