body{ margin:0; width:100vw; height:100vh; background: black url("image/menu.png") center center no-repeat; background-size: contain; }
.btn{
  position:absolute;
  border:none;
  cursor:pointer;
  padding:24px;
  font-size:16px;    
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
}
#start{
  width:240px;
  height:75px;
  left:900px;
  top:50px;
  background:green;
}
#minigamecomingsoon{
  width:240px;
  height:75px;
  left:900px;
  top:175px;
  background:yellow;
}
#exit{
  width:240px;
  height:75px;
  left:900px;
  top:300px;
  background:red;
}
